{% extends 'update_acc_base.html' %}
{% block title %} Update Profile {% endblock %}
{% block content %}
<h2>Update Profile Page</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div  class="alert alert-warning alert-dismissable " role="alert">
                <span>{{message}}</span>
            <button type="button" class="close" data-bs-dismiss="alert" aria-label ="close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div>
    <form method="POST" action="">
        <p>Update You account details:</p>
        <table>
        <tr>
            <td>Username:</td>
            <td>{{ form.username(placeholder="Username")}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ form.email(placeholder="Email")}}</td>
        </tr>
        </table>
        <input type="submit" value="Submit">
    </form>

</div>
{% endblock %}